/* import components styles */
@import "../../pages/HomePage/Header/styles.header.scss";
@import "../../pages/HomePage/Footer/styles.footer.scss";
@import "../../pages/HomePage/Landing/styles.landing.scss";


/*Main Container*/
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

