@import "../../../Common/styles/mixins/responsive.scss";

.landing-container {
    margin-top: 93px;
    display: flex;
    flex-direction: column;
}

.landing-stream-container {
    display: flex;
    flex-direction: row;
    margin: 0px 45px;
}

.landing-stream-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.landing-stream-txt {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    color: #222222;
    width: 90%;
    margin-top: 30px;
}

.landing-stream-detail-txt {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 64px;
    color: #757575;
}


.landing-stream-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: start;
}

.landing-stream-btn-container .ant-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 256px;
    height: 64px;
    background: #F8C100;
    border-radius: 8px;
  }

.landing-stream-btn-txt {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #222222;
}

.landing-stream-right-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.landing-stream-righ-pic {
    height: 200px;
}

/* landing WhyChooseUS */

.landing-WhyChooseUS-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-WhyChooseUS-title-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #222222;
}

.landing-WhyChooseUS-text-container {
    margin-top: 30px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: #757575;
}

/* landing ClientRate */

.landing-ClientRate-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 64px;
}

.landing-ClientRate-element {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 430px;
}

.landing-ClientRate-img {
    width: 16px;
    height: 16px;
}

.landing-ClientRate-title {
    display: flex;
    justify-content: center;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: #222222;
}

.landing-ClientRate-text {
    display: flex;
    justify-content: center;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #757575;
}

/* LandingPage Pricing */


.landing-Pricing-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-Pricing-title {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #222222;
    margin-bottom: 25px;
}

.landing-pricing-div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 32px;

    width: 577px;
    height: 687px;
    background: #FFFFFF;
    border: 1.5px solid #EDEDED;
    border-radius: 24px;
}

.landing-pricing-first-dev-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-pricing-first-div-txt {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #222222;
    margin-bottom: 20px;
}

.landing-pricing-second-div-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
}

.landing-pricing-second-div-txt {
    width: 92px;
    height: 65px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #222222;
}

.landing-pricing-third-div-txt {
    margin-top: 12px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #222222;
}


.landing-pricing-vector-container {
    display: flex;
    flex-direction: column;
    // justify-content: start;
    align-items: start;
    width: 100%;
    margin-left: 200px;
}

.landing-pricing-Vector-element-container {
    display: flex;
    flex-direction: row;
}

.landing-pricing-Vector-element-txt {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #222222;

}

.landing-pricing-button-container {
    display: flex;
    margin-top: 30px;
}

.landing-pricing-button-container .ant-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 513px;
    height: 64px;
    background: #F8C100;
    border-radius: 8px;
}

.landing-aboutUS-contianer {
    display: flex;
    flex-direction: column;
    margin: 0px 64px 0px 64px;   
}

.landing-aboutUS-container-txt {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #222222;
    margin: 64px 0px 102px 0px;
}

.landing-aboutUS-element-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.landing-aboutUS-element-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}

.landing-aboutOmar-txt {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #222222;
    margin-left: 10px;
}

.landing-landingNameDetail-txt {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    width: 50%;
}

.landing-aboutUS-star-container {
    display: flex;
    flex-direction: row;
}

.landing-profile-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.landing-aboutUS-profile-container {
    display: flex;
    flex-direction: row;
}

.landing-money-back-container {
    // position: relative;
    margin-top: 168px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
}

.landing-money-back-confirm-container {
    background: #F5F5F5;
    border-radius: 24px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 90px;
    padding: 28px;
}

.landing-money-back-confirm-container .ant-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 172px;
    height: 64px;
    background: #F8C100;
    border-radius: 8px;
}

.landing-money-back-confirm-title {
    width: 75%;
    height: 172px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
    color: #222222;
    margin-bottom: 50px;
}

.landing-money-back-confirm-text {
    width: 80%;
    height: 64px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #222222;
    margin-bottom: 50px;

}


//Responsive
.landing-stream-container {
    @include responsive(flex-direction, null, column);
    @include responsive(flex-direction, null, column, column);
}

.landing-stream-left-container {
    @include responsive(width, null, 100%);
    @include responsive(width, null, 100%, 100%);
}

.landing-ClientRate-container {
    @include responsive(flex-direction, null, column);
    @include responsive(flex-direction, null, column, column);
}

.landing-aboutUS-profile-container {
    @include responsive(flex-direction, null, column);
    @include responsive(flex-direction, null, column, column);
}

.landing-aboutUS-element-container {
    @include responsive(flex-direction, null, column);
    @include responsive(margin-top, null, 20px);
    @include responsive(flex-direction, null, column, column);
    @include responsive(margin-top, null, 20px, 20px);
}

.landing-money-back-confirm-title {
    @include responsive(width, null, 70%);
    @include responsive(margin-bottom, null, 10px);
    @include responsive(font-size, null, 45px);
    @include responsive(line-height, null, 45px);
    @include responsive(width, null, 70%, 70%);
    @include responsive(margin-bottom, null, 10px, 10px);
    @include responsive(font-size, null, 45px, 45px);
    @include responsive(line-height, null, 45px, 45px);
}

.landing-money-back-confirm-text {
    @include responsive(margin-bottom, null, 90px);
    @include responsive(margin-bottom, null, 90px, 90px);
}

.landing-stream-txt {
    @include responsive(line-height, null, 24px);
    @include responsive(line-height, null, unset, unset);
    @include responsive(font-size, null, 26px, 26px);
}

.landing-stream-right-container {
    @include responsive(width, null, 100%);
    @include responsive(width, null, 100%, 100%);
    @include responsive(height, null, 0px, 0px);
}

.landing-stream-btn-container {
    @include responsive(justify-content, null, center);
    @include responsive(justify-content, null, center, center);
}

.landing-money-back-confirm-container {
    @include responsive(width, null, 85%, 85%);
}

.landing-landingNameDetail-txt {
    @include responsive(width, null, 80%);
    @include responsive(width, null, 100%, 100%);
    @include responsive(margin-top, null, 20px);
    @include responsive(margin-top, null, 20px, 20px);
}