@font-face {
    font-family: "Satoshi-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("https://fonts.animaapp.com/Satoshi-Medium") format("woff");
  }
  
  @font-face {
    font-family: "Satoshi-Black";
    font-style: normal;
    font-weight: 900;
    src: url("https://fonts.animaapp.com/Satoshi-Black") format("opentype");
  }
  
  .header-container {
    padding: 0px 64px;
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 93%;
    height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
  }

  .header-logo-container {
    display: flex;
  }

  .header-frame-container {
    display: flex;
    align-items: center;
    margin-right: 35px;
  }

  .header-ellipse-1-1 {
    background-color: #222222;
    border-radius: 300px;
    height: 47px;
    left: 0;
    top: 0;
    width: 47px;
  }
  
  .header-ellipse-2-1 {
    background-color: #F8C100;
    position: absolute;
    left: 90px;
    top: 25px;
    border-radius: 300px;
    height: 47px;
    width: 47px;
  }

  .header-text-container {
    color: transparent;
    font-family: 'Satoshi';
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .header-span1-2 {
    color: #222222;
  }
  
  .header-span0-2 {
    color: #F8C100;
  }

  .header-features-container {
   display: flex;
   align-items: center;
  }

  .header-features {
    text-align: center;
  }
  
  
  .header-singup-container {
    display: flex;
    flex-direction: row;
  }

  .header-left-button-container .ant-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 128px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    margin-right: 32px;
  }

  .ant-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 128px;
    height: 64px;
    background: #F8C100;
    border-radius: 8px;
  }

  .header-btn-txt {
    width: 69px;
    height: 27px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #222222;
  }
  

  .header-features-container .ant-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 48px;
    border: unset;
    border-radius: unset !important;
    background: rgba(0, 0, 0, 0);
    // border-bottom: 1px solid #222222;
    margin: 8px 16px;
    box-shadow: unset !important;
  }

  .header-features-container .ant-btn:hover{
    border-bottom: 1px solid #222222;
  }



  